omnipathr-log/**
.Rproj.user
.Rhistory
**.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
**.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/140623.calcagno_et_al.seurat_object.rds
